body {
    background-image: url(../img/imagen-para-fondo-blanco.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
