.formulario {
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 7px;
    color: black;
    padding: 40px;
    margin: auto;
    background-color: lightgrey;
    width: 50%;
    border-radius: 8px;

    .postVenta {
        font-size: 25px;
    }

    input {
        width: 130px;
        height: 30px;
        border-radius: 5px;
    }

    .enviar {
        margin: auto;
        height: 60px;
    }

    label {
        text-decoration: underline;
    }
}