.main {
    .primerTitulo {
        font-style: italic;
        text-align: center;
        font-size: 1.875rem;
        line-height: 4.688rem;
        letter-spacing: 0.938rem;
        word-spacing: 1.563rem;
        color: rgb(26, 44, 44);
        padding: 2.5rem;

    }

    .parrafoOriginal {
        font-weight: bolder;
        font-style: italic;
        text-align: center;
        font-size: 1.375rem;
        line-height: 2.5rem;
        letter-spacing: 0.25rem;
        word-spacing: 0.25rem;
        color: black;
        padding: 3.75rem;
        margin: 0.313rem 0.5rem 0.313rem 0.5rem;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .dispositivos {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin:auto;

    }
}