.ipadPro{
@include imagenes()
}
.ipadPro:hover{
    transform: scale(1.3);
    transition-duration: 1.5s
}
.iphone14ProMax{
@include imagenes()
}
.iphone14ProMax:hover{
    transform: scale(1.3);
    transition-duration: 1.5s
}
.watch1{
@include imagenes()
}
.watch1:hover{
    transform: scale(1.3);
    transition-duration: 1.5s
}
.macB{
@include imagenes()
}
.macB:hover{
    transform: scale(1.3);
    transition-duration: 1.5s
}