@media (min-width:576px) {
    .main {
        .primerTitulo {
            font-size: 18px;
        }

        .parrafoOriginal {
            font-size: 15px;
        }

        .dispositivos {
            max-width: 200px;
            max-height: 200px;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;
        }

        .pais {
            font-size: 18px;
        }

        .paisPreferido {
            font-size: 16px;
        }

        .paises {
            font-size: 16px;
        }

        .tituloProductos {
            font-size: 25px;
        }

        .contactate {
            font-size: 18px;
        }

        .formulario {
            padding: 10px;
            font-size: 18px;

            .postVenta {
                font-size: 18px;
            }

            input {
                width: 90px;
                height: 25px;
            }
            .enviar {
                margin: auto;
                height: 60px;
            }
        }
    }
    .tz-gallery .lightbox img{
        width: 200px;
        height: 150px;
    }

    .historiaApple {
        h1 {
            font-size: 23px;
        }

        h2 {
            font-size: 17px;
            margin-top: 20px;
        }

        p {
            font-size: 18px;
            padding: 15px;
        }
    }

    section {
        .descProductos {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 18px;
            }

            .ipadPro {
                max-width: 150px;
                border-radius: 8px;
                padding: 4px;
            }

            .iphone14ProMax {
                max-width: 150px;
                border-radius: 8px;
                padding: 4px;
            }

            .watch1 {
                max-width: 150px;
                border-radius: 8px;
                padding: 4px;
            }

            .macB {
                max-width: 150px;
                border-radius: 8px;
                padding: 4px;
            }
        }

        .videoApple {
            max-width: 300px;
            margin: auto;
            margin-top: 2rem;
        }
    }

    .footer {
        .redes {
            .icon {
                max-width: 40px;
                max-height: 40px;
            }
        }
    }
}
@media (min-width:768px) {
    .main {
        .primerTitulo {
            font-size: 20px;
        }

        .parrafoOriginal {
            font-size: 17px;
        }

        .dispositivos {
            max-width: 250px;
            max-height: 250px;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;
        }

        .pais {
            font-size: 20px;
        }

        .paisPreferido {
            font-size: 18px;
        }

        .paises {
            font-size: 18px;
        }

        .tituloProductos {
            font-size: 27px;
        }

        .contactate {
            font-size: 20px;
        }

        .formulario {
            padding: 10px;
            font-size: 20px;

            .postVenta {
                font-size: 20px;
            }

            input {
                width: 100px;
                height: 30px;
            }
                .enviar {
                margin: auto;
                height: 60px;
            }
        }
    }
    .tz-gallery .lightbox img{
        width: 230px;
        height: 180px;
    }

    .historiaApple {
        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 19px;
            margin-top: 20px;
        }

        p {
            font-size: 20px;
            padding: 15px;
        }
    }

    section {
        .descProductos {
            h2 {
                font-size: 22px;
            }

            p {
                font-size: 20px;
            }

            .ipadPro {
                max-width: 200px;
                border-radius: 8px;
                padding: 7px;
            }

            .iphone14ProMax {
                max-width: 200px;
                border-radius: 8px;
                padding: 7px;
            }

            .watch1 {
                max-width: 200px;
                border-radius: 8px;
                padding: 7px;
            }

            .macB {
                max-width: 200px;
                border-radius: 8px;
                padding: 7px;
            }
        }

        .videoApple {
            max-width: 350px;
            margin: auto;
            margin-top: 2rem;
        }
    }

    .footer {
        .redes {
            .icon {
                max-width: 50px;
                max-height: 50px;
            }
        }
    }
}
@media (min-width:992px) {
    .main {
        .primerTitulo {
            font-size: 23px;
        }

        .parrafoOriginal {
            font-size: 20px;
        }

        .dispositivos {
            max-width: 300px;
            max-height: 300px;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;
        }

        .pais {
            font-size: 22px;
        }

        .paisPreferido {
            font-size: 20px;
        }

        .paises {
            font-size: 20px;
        }

        .tituloProductos {
            font-size: 29px;
        }

        .contactate {
            font-size: 22px;
        }

        .formulario {
            padding: 10px;
            font-size: 22px;

            .postVenta {
                font-size: 22px;
            }

            input {
                width: 100px;
                height: 30px;
            }
            .enviar {
                margin: auto;
                height: 60px;
            }
        }
    }
    .tz-gallery .lightbox img{
        width: 250px;
        height: 200px;
    }

    .historiaApple {
        h1 {
            font-size: 27px;
        }

        h2 {
            font-size: 22px;
            margin-top: 20px;
        }

        p {
            font-size: 22px;
            padding: 15px;
        }
    }

    section {
        .descProductos {
            h2 {
                font-size: 25px;
            }

            p {
                font-size: 23px;
            }

            .ipadPro {
                max-width: 250px;
                border-radius: 8px;
                padding: 9px;
            }

            .iphone14ProMax {
                max-width: 250px;
                border-radius: 8px;
                padding: 9px;
            }

            .watch1 {
                max-width: 250px;
                border-radius: 8px;
                padding: 9px;
            }

            .macB {
                max-width: 250px;
                border-radius: 8px;
                padding: 9px;
            }
        }

        .videoApple {
            max-width: 400px;
            margin: auto;
            margin-top: 2rem;
        }
    }

    .footer {
        .redes {
            .icon {
                max-width: 50px;
                max-height: 50px;
            }
        }
    }
}
@media (min-width:1200px) {
    .main {
        .primerTitulo {
            font-size: 28px;
        }

        .parrafoOriginal {
            font-size: 24px;
        }

        .dispositivos {
            max-width: 700px;
            max-height: 600px;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;
        }

        .pais {
            font-size: 25px;
        }

        .paisPreferido {
            font-size: 23px;
        }

        .paises {
            font-size: 23px;
        }

        .tituloProductos {
            font-size: 29px;
        }

        .contactate {
            font-size: 22px;
        }

        .formulario {
            padding: 10px;
            font-size: 22px;

            .postVenta {
                font-size: 22px;
            }

            input {
                width: 120px;
                height: 30px;
            }
            .enviar {
                margin: auto;
                height: 60px;
            }
        }
    }
    .tz-gallery .lightbox img{
        width: 250px;
        height: 200px;
    }

    .historiaApple {
        h1 {
            font-size: 27px;
        }

        h2 {
            font-size: 22px;
            margin-top: 20px;
        }

        p {
            font-size: 22px;
            padding: 15px;
        }
    }

    section {
        .descProductos {
            h2 {
                font-size: 25px;
            }

            p {
                font-size: 23px;
            }

            .ipadPro {
                max-width: 300px;
                border-radius: 8px;
                padding: 9px;
            }

            .iphone14ProMax {
                max-width: 300px;
                border-radius: 8px;
                padding: 9px;
            }

            .watch1 {
                max-width: 300px;
                border-radius: 8px;
                padding: 9px;
            }

            .macB {
                max-width: 300px;
                border-radius: 8px;
                padding: 9px;
            }
        }

        .videoApple {
            max-width: 400px;
            margin: auto;
            margin-top: 2rem;
        }
    }

    .footer {
        .redes {
            .icon {
                max-width: 50px;
                max-height: 50px;
            }
        }
    }
}
