@media screen and (max-width:576px) {
    .main {
        .primerTitulo {
            font-size: 18px;
        }

        .parrafoOriginal {
            font-size: 15px;
        }

        .dispositivos {
            max-width: 200px;
            max-height: 200px;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;
        }

        .pais {
            font-size: 15px;
        }

        .paisPreferido {
            font-size: 11px;
        }

        .paises {
            font-size: 11px;
        }

        .tituloProductos {
            font-size: 25px;
        }

        .contactate {
            font-size: 18px;
        }

        .formulario {
            padding: 10px;
            font-size: 13px;

            .postVenta {
                font-size: 18px;
            }

            input {
                width: 90px;
                height: 25px;
            }
        }
    }
    .tz-gallery .lightbox img{
        width: 200px;
        height: 150px;
    }

    .historiaApple {
        h1 {
            font-size: 23px;
        }

        h2 {
            font-size: 17px;
            margin-top: 20px;
        }

        p {
            font-size: 18px;
        }
    }

    section {
        .descProductos {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 18px;
            }

            .ipadPro {
                max-width: 150px;
                border-radius: 8px;
            }

            .iphone14ProMax {
                max-width: 150px;
                border-radius: 8px;
            }

            .watch1 {
                max-width: 150px;
                border-radius: 8px;
            }

            .macB {
                max-width: 150px;
                border-radius: 8px;
            }
        }

        .videoApple {
            max-width: 300px;
            margin: auto;
            margin-top: 2rem;
        }
    }

    .footer {
        .redes {
            .icon {
                max-width: 40px;
                max-height: 40px;
            }
        }
    }
}

@media screen and (min-width:992px) {
    .main {
        .primerTitulo {
            font-size: 25px;
        }

        .parrafoOriginal {
            font-size:20px;
        }

        .dispositivos {
            max-width: 300px;
            max-height: 300px;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;
        }

        .pais {
            font-size: 25px;
        }

        .paisPreferido {
            font-size: 23px;
        }

        .paises {
            font-size: 23px;
        }

        .tituloProductos {
            font-size: 33px;
        }

        .contactate {
            font-size: 29px;
        }

        .formulario {
            font-size: 25px;

            .postVenta {
                font-size: 29px;
            }

            input {
                width: 150px;
                height: 60px;
            }
        }
    }
    .tz-gallery .lightbox img{
        width: 300px;
        height: 200px;
    }

    .historiaApple {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 30px;
            margin-top: 20px;
        }

        p {
            font-size: 25px;
        }
    }

    section {
        .descProductos {
            h2 {
                font-size: 32px;
            }

            p {
                font-size: 29px;
            }

            .ipadPro {
                max-width: 300px;
                border-radius: 8px;
            }

            .iphone14ProMax {
                max-width: 300px;
                border-radius: 8px;
            }

            .watch1 {
                max-width: 300px;
                border-radius: 8px;
            }

            .macB {
                max-width: 300px;
                border-radius: 8px;
            }
        }

        .videoApple {
            max-width: 400px;
            margin: auto;
            margin-top: 2rem;
        }
    }

    .footer {
        .redes {
            .icon {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .main {
        .primerTitulo {
            font-size: 23px;
        }

        .parrafoOriginal {
            font-size: 25px;
        }

        .dispositivos {
            max-width: 700px;
            max-height: 500px;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;
        }

        .pais {
            font-size: 19px;
        }

        .paisPreferido {
            font-size: 15px;
        }

        .paises {
            font-size: 15px;
        }

        .tituloProductos {
            font-size: 29px;
        }

        .contactate {
            font-size: 23px;
        }

        .formulario {
            font-size: 18px;

            .postVenta {
                font-size: 24px;
            }

            input {
                width: 110px;
                height: 40px;
            }
        }
    }
    .tz-gallery .lightbox img{
        width: 250px;
        height: 175px;
    }

    .historiaApple {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 23px;
            margin-top: 20px;
        }

        p {
            font-size: 25px;
        }
    }

    section {
        .descProductos {
            h2 {
                font-size: 24px;
            }

            p {
                font-size: 23px;
            }

            .ipadPro {
                max-width: 200px;
                border-radius: 8px;
            }

            .iphone14ProMax {
                max-width: 200px;
                border-radius: 8px;
            }

            .watch1 {
                max-width: 200px;
                border-radius: 8px;
            }

            .macB {
                max-width: 200px;
                border-radius: 8px;
            }
        }

        .videoApple {
            max-width: 350px;
            margin: auto;
            margin-top: 2rem;
        }
    }

    .footer {
        .redes {
            .icon {
                max-width: 60px;
                max-height: 60px;
            }
        }
    }
}
