main{
    .contactate{
        font-style:italic;
        text-align: left;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 10px;
        word-spacing: 15px;
        padding: 40px;
        margin: 10px;
    }
}

.garantia{
    font-style: italic;
    text-align: left;
    font-size: 30px;
    line-height: 25px;
    letter-spacing: 10px;
    word-spacing: 15px;
    padding: 40px;
    margin: 10px;
}