@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

@import "header";
@import "home";
@import "body";
@import "historiaApple";
@import "galeriaHistoria";
@import "videoHistoria";
@import "productos";
@import "cardsProductos";
@import "imgProductos";
@import "tituloSoporte";
@import "formulario";
@import "ventas";
@import "footer";
@import "mediaQuery";